.story {
    &__pictures {
        grid-column: full-start / col-end 4;
        background-color: $color-primary;
    }

    &__content {
        grid-column: col-start 5 / full-end;
        padding: 6rem 12rem;
        background-color: $color-grey-light-1;
    }

    &__text {
        margin-bottom: 4rem;
        font-size: 1.5rem;
        font-style: italic;
    }
}